<%= form_for(@user) do |f| %>

  	<div class="field">
    	<%= f.label :username %><br>
    	<%= f.text_field :username, required: :true %>
  	</div>
  	<div class="field">
  		<%= f.label :password %> (min: 9 characters)<br>
  		<%= f.password_field :password, required: :true, pattern: '[\S]{9,24}' %>
  	</div>
  
  	<div class="actions">
    	<%= f.submit %>
  	</div>
<% end %>