<h1><%= @user.username %></h1>
<h3>Ratings I have made</h3>

<% if @ratings.nil? || @ratings.size == 0 %>
	No ratings yet <br><br>
<% else %>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Wine</th>
				<th>Rating</th>
			</tr>
		</thead>
		<tbody>
			<% @ratings.each do |rating| %>
				<tr>
					<td><%= rating.wine.name %></td>
					<td><%= rating.rating %></td>
					<td><%= link_to 'DELETE', rating, method: :delete, data: {confirm: "Are you sure"}, class:"btn-danger btn-sm" %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>

<%= link_to 'Edit account', edit_user_path, class:"btn-warning btn-sm" %> | 
<%= link_to 'Delete account', @user, method: :delete, data: {cofirm: 'Are you sure?'}, class:"btn-danger btn-sm" %>
