<%= form_for(@wine) do |f| %>
	<div class="field">
		<%= f.label :name %><br>
		<%= f.text_field :name %><br>
	</div>
	<div class ="field">
		<%= f.label :style_id %><br>
		<%= f.select :style_id, options_from_collection_for_select(@styles, :id, :name, selected: @wine.style_id) %><br>
	</div>
	<div class ="field">
		<%= f.label :country %><br>
		<%= f.select :country, options_for_select(@countries, selected: @wine.country) %><br>
	</div>
	<div class="field">
		<%= f.label :year %><br>
		<%= f.select :year, options_for_select(@years, selected: @wine.year) %><br>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>

<% end %>