<h1>Wines</h1>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Wine name</th>
			<th>Style</th>
			<th>Country</th>
			<th>Year</th>
			<th>Average rating</th>
		</tr>
	</thead>

	<tbody>
		<% @wines.each do |wine| %>
			<tr>
				<td><%= link_to wine.name, wine, class:"btn btn-default btn-sm" %></td>
				<td><%= wine.style %></td>
				<td><%= wine.country %></td>
				<td><%= wine.year %></td>
				<td>
					<% if wine.ratings.empty? %>
						Wine has no ratings yet
					<% else %>
						<%= wine.average_rating %>
					<% end %>
				</td>
				<% if current_user %>
					<td><%= link_to 'Edit', edit_wine_path(wine), class:"btn btn-warning btn-sm" %></td>
				<% end %>
				<% if admin_user %>
					<td><%= link_to 'Destroy', wine, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm" %></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to 'Create new wine', new_wine_path %>
