<h1>Wines</h1>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Wine name</th>
			<th>Style</th>
			<th>Country</th>
			<th>Year</th>
			<th>Average rating</th>
		</tr>
	</thead>

	<tbody>
		<% @wines.each do |wine| %>
			<tr>
				<td><%= link_to wine.name, wine %></td>
				<td><%= wine.style %></td>
				<td><%= wine.country %></td>
				<td><%= wine.year %></td>
				<td>99.99(tämä kohta kesken)</td>
				<td><%= link_to 'Edit', edit_wine_path(wine) %></td>
				<td><%= link_to 'Destroy', wine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to 'Create new wine', new_wine_path %>
