<h1>Wine: <%= @wine.first.name %></h1>
<p>
	<strong>Style:</strong>
	<%= @wine.first.style %>
</p>
<p>
	<strong>Country:</strong>
	<%= @wine.first.country %>
</p>
<p>
	<strong>Year:</strong>
	<%= @wine.first.year %>
</p>

<p><%= "Number of ratings 6" %></p>
<p><%= "Average rating: 99.99" %></p>
