<h1>Wine: <%= @wine.name %></h1>
<p>
	<strong>Style:</strong>
	<%= @wine.style.name %>
</p>
<p>
	<strong>Country:</strong>
	<%= @wine.country %>
</p>
<p>
	<strong>Year:</strong>
	<%= @wine.year %>
</p>

<p>
	<strong>Number of ratings:</strong>
	<%= @ratings.count %>
</p>

<p>
	<% if @ratings.count != 0 %>
		<strong>Average rating:</strong>
		<%= @wine.average_rating %>
	<% end %>
</p>
