<h1>Wine: <%= @wine.name %></h1>
<p>
	<strong>Style:</strong>
	<%= @wine.style %>
</p>
<p>
	<strong>Country:</strong>
	<%= @wine.country %>
</p>
<p>
	<strong>Year:</strong>
	<%= @wine.year %>
</p>

<p>
	<strong>Number of ratings:</strong>
	<%= @ratings.count %>
</p>

<p>
	<strong>Averaga rating:</strong>
	<%= "99.99" %>
</p>
