<%# add navigation links to this file %>
<li><%= link_to 'Wines', wines_path %></li>
<li><%= link_to 'Ratings', ratings_path %></li>
<li><%= link_to 'User (ei toimi vielä)', root_path %></li>
<li><%= link_to 'Sign in (ei toimi vielä)', root_path %></li>
<li><%= link_to 'Sign up (ei toimi vielä)', root_path %></li>