<%# add navigation links to this file %>
<li><%= link_to 'Wines', wines_path %></li>
<li><%= link_to 'Ratings', ratings_path %></li>
<li><%= link_to 'Users', users_path %></li>
<li><%= link_to 'User (ei toimi vielä)', root_path %></li>
<li><%= link_to 'Rate a wine (ei toimi vielä)', root_path %></li>
<li><%= link_to 'Sign in', signin_path %></li>
<li><%= link_to 'Sign out', signout_path, method: :delete %></li>
<li><%= link_to 'Sign up', signup_path %></li>